// Брекпоинты
$grid-breakpoints: (
      xs: 0px,
      sm: 576px,
      md: 768px,
      lg: 992px,
      xl: 1200px,
      xxl: 1400px,
      xxxl: 1600px
) !default;
// Ширина контейнера
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1500px
) !default;
// Используемые цвета
$black: #152647 !default;
$white: #fff !default;
$silver: #9198A7 !default;
$blue: #206FE6 !default;
$dark-silver: #788399 !default;

// Цвета для генерации
$colors: (
"black": $black,
"white": $white,
"silver": $silver,
"blue": $blue,
"dark-silver": $dark-silver,
) !default;
// Для геренации font-face
$font-face: (
  UltraLight: 200,
  Light: 300,
  Regular: 400,
  Medium: 500,
  Bold: 700,
) !default;

// Переменные для grid сетки
$container-max-width: 1320px !default;
$grid-gap: 7px !default;
$grid-gap-side: calc($grid-gap / 2);
$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
// Для px to rem
$html-font-size: 16px;