// Переменные
@import "variables";
// Миксины
@import "mixins";
// Сбрасываем стили
@import "reboot";
// Сгенерированные классы 
@import "classes-generation";


//global
html,
body {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Gilroy', sans-serif;
    @include color(color, black);
    font-size: 14px;
    min-width: 300px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.logo-svg {
    max-width: 146px;
    width: 100%;
    height: 46px;
    @include color(fill, black);
}

[x-cloak] {
    display: none !important;
}


//header
.header {
    min-height: rem(80px);
    background-color: white;
    &__items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem rem(5px);
        gap: rem(10px);
        @include media("min", "sm") {
            gap: 0;
        }
    }
    
    &__navbar {
        display: none;
        @include media("min", "xl") {
            display: flex;
            justify-content: space-between;
            width: 75%;
        }
    }

    &__mobile-menu {
        height: 100vh;
        background: #000;
        display: flex;
        z-index: 1000;
        transform: translateX(0);
    }

    &__sidebar-wrapper{
        overflow: hidden;
        width: 10rem;
        height: 20rem;
        display: flex;
    }

    &__sidebar-inner{
        transition-duration: 1s;
        display: flex;
        width: 100%;
    }

    &__sidebar-item{
        transition-duration: 1s;
        flex-shrink: 0;
        width: 10rem;
    }

    &__navbar-list {
        display: flex;
        width: 55%;
        justify-content: space-evenly;
    }

    &__navbar-item {
        font-weight: 500;
        font-size: rem(15px);
        line-height: rem(18px);
        text-transform: uppercase;

        &:hover {
            @include color(color, blue);
        }
    }
    
    &__navbar-number {
        font-weight: 600;
        font-size: rem(20px);
        line-height: rem(24px);
        padding-right: rem(30px);
    }

    &__mobile-buttons {
        display: flex;
        width: 146px;
        justify-content: flex-end;
        gap: rem(10px);

        @include media("min", "sm") {
            gap: rem(20px);
        }

        @include media("min", "xl") {
            display: none;
        }
    }

    &__logo {
        min-width: 125px;
    }

    &__menu-button {
        cursor: pointer;

        @include media("min", "xl") {
            display: none;
        }
    }

    &__call-button {
        cursor: pointer;

        @include media("min", "xl") {
            display: none;
        }
    }
}

.footer {
    //mobile

    &__wrapper { 
        display: flex;
        flex-direction: column;
    }

    &__menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20px);
    }

    &__menu-item--visibility {
        display: none;
    }
    
    &__menu-navbar {
        display: flex;
        justify-content: center;
        margin-bottom: rem(44px);
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
    }

    &__list-item {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);

        &:hover {
            @include color(color, blue);
        }

        &--bold {
            font-weight: 700;
            font-size: rem(22px);
            line-height: rem(27px);
        }


    }

    &__social-bar {
        display: flex;
        gap: rem(13px);
    }

    &__social-item {
        &:hover {
            opacity: 0.8;
        }
    }

    &__howgetto {
        display: flex;
        align-items: center;
        gap: rem(12px);
        font-weight: 700;
        font-size: rem(22px);

        &:hover svg{
            transform: translate(2px, -2px);
            transition: all 0.1s ease-in-out;
        }
        &:hover{
            opacity: .9;
        }
    }

    &__button {
        min-width: 200px;
    }

    &__contacts {
        @include font-size-get(footerContactTitle);
        @include color(background-color, footer-silver);
    }

    &__contacts-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(25px) 0;
        gap: rem(25px);
    }

    &__contact-title {
        @include font-size-get(footerContactTitle);
        text-align: center;
        @include color(color, silver);
    }

    &__contact-item {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
    }

    &__contact-content {
        font-size: rem(16px);
        text-align: center;
        @include color(color, black);
    }

    &__copyright-inner {
        display: flex;
        padding: rem(20px) 0;
        flex-direction: column;
        gap: rem(12px);
        align-items: center;
    }
    
    &__copyright-item {
        display: block;
        text-align: center;
        @include color(color, silver);
        @include font-size-get(copiright);
    }

    //Media querys

    @include media(min, "xl") {
        &__menu-item--visibility {
            display: block;   
        }

        &__menu-navbar {
            justify-content: space-between;
        }

        &__contacts-inner {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__contact-title {
            text-align: left;
        }

        &__contact-content {
            text-align: left;
        }

        &__copyright-inner {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

//----------BLOCKS-------------

//button blocks
.button {
    @include color(background-color, blue);
    @include color(color, white);
    position: relative;
    border-radius: rem(30px);
    width: 200px;
    min-width: 100px;
    border: 0;
    padding: rem(10px) rem(10px);
    min-height: rem(47px);
    font-weight: 600;
    font-size: rem(16px);

    &:hover {
        opacity: .8;
    }

    &:disabled {
        opacity: 1;
    }
}

.loading {
    @include color(color, blue);
    @include color(background-color, blue);
    &::after {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid white;
        border-top-color: transparent;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
        from {
            transform: rotate(0turn);
        }
    
        to {
            transform: rotate(1turn);
        }
    }
}
//button blocks end
