// Переменные
@import "variables";
// Миксины
@import "mixins";
// Сбрасываем стили
@import "reboot";
// Сгенерированные классы 
@import "classes-generation";

//global
html,
body {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Gilroy', sans-serif;
    @include color(color, black);
    font-size: 14px;
    min-width: 300px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.logo-svg {
    max-width: rem(146px);
    width: 100%;
    height: rem(46px);
    @include color(fill, black);
}


body {
    .overlay-blur {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s linear, visibility .3s step-end, background-color .3s linear;
        background-color: rgba(#152647,.5);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: block;
    }

    &.show__arrow{
        .arrow__top{
            transform: translate(0);
        }
    }
    &.popup__show .overlay__blur {
        opacity: 1;
        visibility: visible;
        transition-timing-function: ease-in-out, step-start;
        z-index: 100;
    }

    // ScreenLock
    &.lock__screen {
        overflow: hidden;
        touch-action: none;
    }

    &.show__navbar {
        .overlay-blur {
            z-index: 102;
            opacity: 1;
            visibility: visible;
            transition-timing-function: ease-in-out, step-start;
        }

        .mobile-menu {
            transform: translateX(-100%);

            @include media('max', 'lg') {
                transform: translateX(-100%);
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100vw;
    overflow-y: auto;
    width: 100%;
    background-color: #fff;
    transition: transform .5s ease,width .5s ease;
    z-index: 103;
    overflow: hidden;
    display: flex;
    margin: 0;
    flex-direction: column;

    &__wrapper {
        transition: transform 0.9s ease-in-out;
        height: 100%;
        padding: rem(30px);
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: rem(30px);
    }

    &__item-link>a {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: rem(17px);
        line-height: rem(20px);
    }

    &__link>a {
        display: block;
        width: 100%;
    }

    &__link {
        font-weight: 400;
        font-size: rem(17px);
        line-height: rem(20px);

        &:hover {
            @include color(color, blue)
        }
    }

    &__next-lvl {
        cursor: pointer;

        &:hover {
            @include color(color, blue)
        }
    }

    &__close-lvl {
        cursor: pointer;
    }

    &__close {
        cursor: pointer;
    }
    
    &__title {
        font-weight: 400;
        font-size: rem(22px);
        line-height: rem(26px);
        @include color(color, blue)
    }

    &__inner-items {
        left: 100%;
        top: 0;
        height: 100%;
        width: 100%;
        border: medium none;
        box-shadow: none;
        visibility: visible;
        opacity: 1;
        display: none;
        position: absolute;
        z-index: 5;
        background: #FFF;
        margin: 0;
        padding: rem(30px);
    }
    
    &__head, &__inner-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(30px) 0;
        height: 100%;
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
    }

    &__social-item {
        display: flex;
        flex-direction: column;
        gap: rem(5px);

        &--subtitle {
            font-weight: 300;
            font-size: rem(13px);
            line-height: rem(15px);
            @include color(color, black);
            margin: 0;
        }
    }

    @include media("min", "md") {
        width: 31.25rem;
    }

    @include media("min", "xl") {
        display: none;
    }
}

svg {
    fill: currentColor;
}

//header
.header {
    min-height: rem(80px);
    background-color: white;

    &--fixed {
        position: fixed;
        z-index: 100;
        top: 0;
        border-bottom-left-radius: rem(15px);
        border-bottom-right-radius: rem(15px);
        width: 100%;
        @include color(color, white);
        @include color(background-color, black);

        .header__logo {
            @include color(color, white);
        }
    }

    @include media("min", "xxl") {
        min-height: rem(103px);
    }

    &__container {
        height: 100%;
    }

    &__items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem rem(5px);
        gap: rem(10px);
        @include media("min", "sm") {
            gap: 0;
        }

        @include media("min", "xxl") {
            padding: 1rem rem(30px);
        }

        @include media("min", "xxxl") {
            padding: 1rem rem(60px);
        }
    }
    
    &__navbar {
        display: none;
        @include media("min", "xl") {
            display: flex;
            justify-content: space-between;
            width: 75%;
        }
    }

    &__sidebar-wrapper{
        overflow: hidden;
        width: 10rem;
        height: 20rem;
        display: flex;
    }

    &__sidebar-inner{
        transition-duration: 1s;
        display: flex;
        width: 100%;
    }

    &__sidebar-item{
        transition-duration: 1s;
        flex-shrink: 0;
        width: 10rem;
    }

    &__navbar-list {
        display: flex;
        justify-content: space-evenly;

        @include media("min", "xxl") {
            &:first-child {
                margin-left: rem(30px);
            }
        }

        @include media("min", "xxxl") {
            &:first-child {
                margin-left: rem(70px);
            }
        }
    }

    &__navbar-item {
        font-weight: 500;
        font-size: rem(15px);
        line-height: rem(18px);
        text-transform: uppercase;
        position: relative;
        padding: rem(32px) rem(16px);

        & a:hover {
            @include color(color, blue);
        }

        &:hover > a{
            @include color(color, blue);
        }

        @include media("min", "xxl") {
            padding: rem(40px) rem(20px);
        }
    }
    
    &__dropdown-wrapper {
        display: flex;
        z-index: 101;
        opacity: 0;
        top: 99%;
        left: -5px;
        border-top: $black solid 2px;
        visibility: hidden;
        position: absolute;
        border-bottom-left-radius: rem(10px);
        border-bottom-right-radius: rem(10px);
        @include color(background-color, white);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .1);
        padding: rem(50px) 0 rem(100px) rem(50px);
        transition: all 0.2s;
    }

    &__navbar-item:hover &__dropdown-wrapper {
        opacity: 1;
        visibility: visible;
    }

    &__dropdown-item {
       font-size: rem(18px);
       line-height: rem(21px);
       font-weight: 400;
    }

    &__dropdown-list {
        min-width: 250px;
        text-transform: none;
        display: flex;
        flex-direction: column;
        gap: rem(10px);

        @include media(min, "xxxl") {
            min-width: 450px;
        }

        &::after {
            content: "";
            visibility: hidden;
            display: block;
            position: absolute;
            left: 50%;
            width: 1px;
            height: 75%;
            background-color: #D9D9D9;
            @include media(min, "xxxl") {
                left: 60%;
            }
        }
    }

    &__dropdown-list > &__dropdown-item {
        line-height: rem(40px);
    }

    &__dropdown-list--lvl2 {
        min-height: 75%;
        visibility: hidden;
        position: absolute;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: rem(30px);
        top: 0;

    }

    &__dropdown-child > &__dropdown-list--lvl2 {
        position: static;
        visibility: visible;
    }

    &__dropdown-title--lvl2 {
        font-size: rem(25px);
        line-height: rem(25px);
        font-weight: 600;
    }

    &__navbar-number {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: rem(20px);
        line-height: rem(24px);
        padding-right: rem(30px);
    }

    &__mobile-buttons {
        display: flex;
        width: rem(126px);
        justify-content: flex-end;
        gap: rem(10px);

        @include media("min", "sm") {
            gap: rem(20px);
        }

        @include media("min", "xl") {
            display: none;
        }
    }

    &__logo {
        min-width: rem(125px);
        @include color(color, black);

        & svg{
            width: 100%;
        } 
    }

    &__menu-button {
        cursor: pointer;

        @include media("min", "xl") {
            display: none;
        }
    }

    &__call-button {
        cursor: pointer;

        @include media("min", "xl") {
            display: none;
        }
    }

    & .button {
        font-size: 0.75rem;
        min-width: 5.5rem;

        @include media_query(356px) {
            font-size: 1rem;
        }
    }
}

.main {
    .main-slider {
        &__image img {
            border-radius: 20px;
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 100%;
            min-height: 320px;
            @include media(min, "md") {
                aspect-ratio: auto;
            }
        }

        &__title {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 5%;
            width: 90%;
            font-size: rem(30px);
            font-weight: 700;
            line-height: 36.27px;
            @include color(color, white);

            @include media(min, "lg") {
                width: 70%;
            }

            @include media(min, "xxl") {
                width: 70%;
                font-size: rem(50px);
                font-weight: 700;
                line-height: 60.45px;
            }
        }

        &__description {
            padding: 20px 0;
            font-size: rem(15px);
            font-weight: 500;
            line-height: 17.66px;
            @include color(color, white);

            @include media(min, "lg") {
                font-size: rem(16px);
                line-height: 18.83px;
            }
        }

        margin-bottom: rem(30px);
    }

    .customers-slider {
        &__slide {
            width: auto;
        }

        &__wrapper {
            align-items: center;
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }

    .advantages-section {
        &__slider {
            padding: 10px;
        }

        &__slide {
            min-height: 176px;
            height: 100%;
            padding: rem(25px) rem(30px);
            border-radius: rem(15px);
            box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: .2);
        }

        &__title {
            margin-bottom: rem(11px);
            font-size: rem(18px);
            line-height: rem(21px);
            font-weight: 700;
        }

        &__description {
            font-size: rem(15px);
            line-height: rem(17px);
            font-weight: 400;
        }

        & .swiper-pagination {
            position: static;
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }

    .infographics {

        &__item {
            text-align: center;
        }

        &__item-title {
            margin-bottom: rem(11px);
            font-size: rem(80px);
            line-height: rem(93px);
            font-weight: 400;

            & sup {
                font-size: rem(60px);
                @include color(color, blue);
            }
        }

        &__item-subtitle {
            font-size: rem(16px);
            line-height: rem(19px);
            font-weight: 400;
        }

        &__item-link {
            font-size: rem(14px);
            line-height: rem(16px);
            font-weight: 400;
            text-decoration: underline;
            @include color(color, blue);
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }
}

.footer {
    //mobile

    &__wrapper { 
        display: flex;
        flex-direction: column;
    }

    &__menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20px);
    }

    &__menu-item--visibility {
        display: none;
    }
    
    &__menu-navbar {
        display: flex;
        justify-content: center;
        margin-bottom: rem(44px);
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
    }

    &__list-item {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);

        &:hover {
            @include color(color, blue);
        }

        &--bold {
            font-weight: 700;
            font-size: rem(22px);
            line-height: rem(27px);
        }


    }

    &__social-bar {
        display: flex;
        gap: rem(13px);
    }

    &__social-item {
        &:hover {
            opacity: 0.8;
        }
    }

    &__howgetto {
        display: flex;
        align-items: center;
        gap: rem(12px);
        font-weight: 700;
        font-size: rem(22px);

        svg{
            @include color(color, blue);
        }

        &:hover svg{
            transform: translate(2px, -2px);
            transition: all 0.1s ease-in-out;
        }
        &:hover{
            @include color(color, blue);
            opacity: .9;
        }
    }

    &__button {
        min-width: rem(200px);
    }

    &__contacts {
        @include font-size-get(footerContactTitle);
        @include color(background-color, footer-silver);
    }

    &__contacts-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(25px) 0;
        gap: rem(25px);
    }

    &__contact-title {
        @include font-size-get(footerContactTitle);
        text-align: center;
        @include color(color, silver);
    }

    &__contact-item {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
    }

    &__contact-content {
        font-size: rem(16px);
        text-align: center;
        @include color(color, black);
    }

    &__copyright-inner {
        display: flex;
        padding: rem(20px) 0;
        flex-direction: column;
        gap: rem(12px);
        align-items: center;
    }
    
    &__copyright-item {
        display: block;
        text-align: center;
        @include color(color, silver);
        @include font-size-get(copiright);
    }

    //Media querys footer

    @include media(min, "md") {
        &__wrapper { 
            border-top: 2px solid $footer-silver;
            padding-top: rem(30px);
        }

        &__menu-item--visibility {
            display: block;   
        }

        &__menu-navbar {
            justify-content: space-between;
            flex-wrap: wrap;
            gap: rem(35px);
        }

        &__contacts-inner {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }

        &__contact-title {
            text-align: left;
        }

        &__contact-content {
            text-align: left;
        }

        &__copyright-inner {
            flex-direction: row;
            justify-content: space-between;
        }

        &__menu-item:nth-child(4) {
            width: 100%;

            & ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }

        &__menu-item:last-child {
            margin: 0 auto;
        }
    }

    @include media(min, "xl") {
        &__wrapper { 
            padding-top: rem(50px);
        }

        &__contacts-inner {
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &__contact-title {
            text-align: left;
        }

        &__contact-content {
            text-align: left;
        }

        &__menu-navbar {
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        &__menu-item:nth-child(4) {
            width: auto;
            & ul {
                display: flex;
                flex-direction: column;
            }
        }

        &__menu-item:last-child {
            margin: 0;
        }
        
    }
}


//----------BLOCKS-------------

.show {
    display: block;
}

.phone-link {
    font-weight: 600;
    font-size: rem(20px);
    line-height: rem(24px);
    @include color(color, black);

    &:hover {
        @include color(color, blue)
    }
}

.mail-link {
    font-weight: 300;
    font-size: rem(16px);
    line-height: rem(18px);
    @include color(color, black);

    &:hover {
        @include color(color, blue)
    }
}

//button blocks
.button {
    @include color(background-color, blue);
    @include color(color, white);
    position: relative;
    border-radius: rem(30px);
    width: rem(200px);
    min-width: rem(100px);
    border: 0;
    padding: rem(10px) rem(10px);
    min-height: rem(47px);
    font-weight: 600;
    font-size: rem(16px);

    &:hover {
        opacity: .8;
    }

    &:disabled {
        opacity: 1;
    }
}

.loading {
    @include color(color, blue);
    @include color(background-color, blue);
    &::after {
        content: "";
        position: absolute;
        width: rem(26px);
        height: rem(26px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid white;
        border-top-color: transparent;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
        from {
            transform: rotate(0turn);
        }
    
        to {
            transform: rotate(1turn);
        }
    }
}

//swiper bullets
.swiper-pagination--custom > .swiper-pagination-bullet {
    width: rem(40px);
    height: rem(5px);
    border-radius: rem(5px);
    opacity: 1;
    background-color: #E7EBF3;
}

.swiper-pagination--custom > .swiper-pagination-bullet-active {
    width: rem(40px);
    height: rem(5px);
    border-radius: rem(5px);
    opacity: 1;
    @include color(background-color, blue)
}

.telegram {
    @include color(background-color, blue);
    @include color(color, white);
    border-radius: rem(10px);
}

.whatsapp {
    background-color: #00BD1E;
    @include color(color, white);
    border-radius: rem(10px);
}

.vk {
    @include color(background-color, blue);
    @include color(color, white);
    border-radius: rem(10px);
}

//button blocks end


