// Переменные
@import "variables";
// Миксины
@import "mixins";
// Сбрасываем стили
@import "reboot";
// Сгенерированные классы 
@import "classes-generation";

//global
html,
body {
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Gilroy', sans-serif;
    @include color(color, black);
    font-size: 14px;
    min-width: 300px;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.logo-svg {
    max-width: rem(146px);
    width: 100%;
    height: rem(46px);
    @include color(fill, black);
}


body {
    .overlay-blur {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s linear, visibility .3s step-end, background-color .3s linear;
        background-color: rgba(#152647,.5);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        display: block;
    }

    &.show__arrow{
        .arrow__top{
            transform: translate(0);
        }
    }
    &.popup__show .overlay-blur {
        opacity: 1;
        visibility: visible;
        transition-timing-function: ease-in-out, step-start;
        z-index: 100;
    }

    // ScreenLock
    &.lock__screen {
        overflow: hidden;
        touch-action: none;
    }

    &.show__navbar {
        .overlay-blur {
            z-index: 102;
            opacity: 1;
            visibility: visible;
            transition-timing-function: ease-in-out, step-start;
        }

        .mobile-menu {
            transform: translateX(-100%);

            @include media('max', 'lg') {
                transform: translateX(-100%);
            }
        }
    }

    &.show__dropdown {
        .overlay-blur {
            z-index: 10;
            opacity: 1;
            visibility: visible;
            transition-timing-function: ease-in-out, step-start;
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100vw;
    overflow-y: auto;
    width: 100%;
    background-color: #fff;
    transition: transform .5s ease,width .5s ease;
    z-index: 103;
    overflow: hidden;
    display: flex;
    margin: 0;
    flex-direction: column;

    &__wrapper {
        transition: transform 0.9s ease-in-out;
        height: 100%;
        padding: rem(30px);
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: rem(30px);
    }

    &__item-link > &__next-lvl {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after{
            content: '';
            display: block;
            position: relative;
            background-color: $black;
            width: 27px;
            height: 12px;
            mask-image: url("data:image/svg+xml,%3Csvg width='27' height='12' viewBox='0 0 27 12' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.5303 6.53033C26.8232 6.23744 26.8232 5.76256 26.5303 5.46967L21.7574 0.696699C21.4645 0.403806 20.9896 0.403806 20.6967 0.696699C20.4038 0.989593 20.4038 1.46447 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM0 6.75H26V5.25H0V6.75Z'/%3E%3C/svg%3E%0A");
        }
        &:hover::after {
            left: 5px;
            background-color: $blue;
        }
    }

    &__item-link>a {
        display: block;
        width: 100%;
        font-weight: 400;
        font-size: rem(17px);
        line-height: rem(20px);
    }

    &__link>a {
        display: block;
        width: 100%;
    }

    &__link {
        font-weight: 400;
        font-size: rem(17px);
        line-height: rem(20px);

        &:hover {
            @include color(color, blue)
        }
    }

    &__next-lvl {
        cursor: pointer;

        &:hover {
            @include color(color, blue)
        }
    }

    &__close-lvl {
        cursor: pointer;
    }

    &__close {
        cursor: pointer;
    }
    
    &__title {
        font-weight: 400;
        font-size: rem(22px);
        line-height: rem(26px);
        @include color(color, blue)
    }

    &__inner-items {
        left: 100%;
        top: 0;
        height: 100%;
        width: 100%;
        border: medium none;
        box-shadow: none;
        visibility: hidden;
        opacity: 0;
        display: block;
        position: absolute;
        z-index: 5;
        background: #FFF;
        margin: 0;
        padding: rem(30px);
        transition: opacity 1s, visibility 0s linear 1s;
    }
    
    &__head, &__inner-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(30px) 0;
        height: 100%;
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
    }

    &__social-item {
        display: flex;
        flex-direction: column;
        gap: rem(5px);

        &--subtitle {
            font-weight: 300;
            font-size: rem(13px);
            line-height: rem(15px);
            @include color(color, black);
            margin: 0;
        }
    }

    @include media("min", "md") {
        width: 31.25rem;
    }

    @include media("min", "xl") {
        display: none;
    }
}

svg {
    fill: currentColor;
}

//header
.header {
    background-color: white;
    border-bottom: 2px solid $footer-silver;
    z-index: 11;
    
    &--index {
        border-bottom: none;
    }

    &--fixed {
        position: fixed;
        z-index: 100;
        top: 0;
        border-bottom-left-radius: rem(15px);
        border-bottom-right-radius: rem(15px);
        border-bottom: none;
        width: 100%;
        @include color(color, white);
        @include color(background-color, black);

        .header__logo {
            @include color(color, white);
        }
    }

    @include media("min", "xxl") {
        min-height: rem(103px);
    }

    &__wrapper {
        height: 100%;
    }

    &__items {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(10px) rem(5px);
        gap: rem(10px);
        @include media("min", "sm") {
            gap: 0;
        }

        @include media("min", "xxl") {
            padding: 0 rem(30px);
        }

        @include media("min", "xxxl") {
            padding: 0 rem(60px);
        }
    }
    
    &__navbar {
        display: none;
        @include media("min", "xl") {
            display: flex;
            justify-content: space-between;
            width: 75%;
        }
    }

    &__sidebar-wrapper{
        overflow: hidden;
        width: 10rem;
        height: 20rem;
        display: flex;
    }

    &__sidebar-inner{
        transition-duration: 1s;
        display: flex;
        width: 100%;
    }

    &__sidebar-item{
        transition-duration: 1s;
        flex-shrink: 0;
        width: 10rem;
    }

    &__navbar-list {
        display: flex;
        justify-content: space-evenly;

        @include media("min", "xxl") {
            &:first-child {
                margin-left: rem(30px);
            }
        }

        @include media("min", "xxxl") {
            &:first-child {
                margin-left: rem(70px);
            }
        }
    }

    &__navbar-item {
        font-weight: 500;
        font-size: rem(15px);
        line-height: rem(18px);
        text-transform: uppercase;
        position: relative;
        padding: rem(32px) rem(16px);

        & a:hover {
            @include color(color, blue);
        }

        &:hover > a{
            @include color(color, blue);
        }

        @include media("min", "xxl") {
            padding: rem(44px) rem(20px);
        }
    }
    
    &__dropdown-wrapper {
        z-index: 101;
        opacity: 0;
        top: 100%;
        left: -5px;
        visibility: hidden;
        display: none;
        position: absolute;
        border-bottom-left-radius: rem(10px);
        border-bottom-right-radius: rem(10px);
        @include color(background-color, white);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: .1);
        padding: rem(30px);
        transition: all 0.2s;

        @include media("min", "xxxl") {
            padding: rem(50px);
        }
    }

    &__navbar-item:hover &__dropdown-wrapper {
        opacity: 1;
        display: flex;
        visibility: visible;
    }

    &__dropdown-item {
        font-size: rem(15px);
        line-height: rem(18px);
        font-weight: 400;
        padding: 0 rem(15px);

        @include media("min", "xxl") {
            font-size: rem(18px);
            line-height: rem(21px);
        }

        &:hover {
            @include color(color, blue);
        }
    }

    &__dropdown-list {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        text-transform: none;
        white-space: nowrap;
    }

    &__dropdown-list > &__dropdown-item {
        line-height: rem(40px);
        min-width: 200px;

        @include media("min", "xxl") {
            min-width: 250px;
        }

        @include media("min", "xxxl") {
            min-width: 300px;
        }
    }

    &__dropdown-list > .dropdown {
        line-height: rem(40px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
            content: '';
            display: block;
            position: relative;
            background-color: $black;
            width: 27px;
            height: 12px;
            mask-image: url("data:image/svg+xml,%3Csvg width='27' height='12' viewBox='0 0 27 12' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.5303 6.53033C26.8232 6.23744 26.8232 5.76256 26.5303 5.46967L21.7574 0.696699C21.4645 0.403806 20.9896 0.403806 20.6967 0.696699C20.4038 0.989593 20.4038 1.46447 20.6967 1.75736L24.9393 6L20.6967 10.2426C20.4038 10.5355 20.4038 11.0104 20.6967 11.3033C20.9896 11.5962 21.4645 11.5962 21.7574 11.3033L26.5303 6.53033ZM0 6.75H26V5.25H0V6.75Z'/%3E%3C/svg%3E%0A");
        }

        &:hover::after {
            left: 5px;
            background-color: $blue;
        }
    }

    &__dropdown-list--lvl2 {
        padding-left: rem(20px);
        border-left: 2px solid #D9D9D9;
        white-space: nowrap; 
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: rem(20px);
        top: 0;
        
        @include media("min", "xxl") {
            gap: rem(30px);
            padding-left: rem(30px);
        }
    }

    &__dropdown-child > &__dropdown-list--lvl2 {
        position: static;
        visibility: visible; //bag
        height: 100%;
        width: 100%;
        
    }

    &__dropdown-title--lvl2 {
        font-size: rem(20px);
        line-height: rem(20px);
        font-weight: 600;
        
        @include media("min", "xxl") {
            font-size: rem(25px);
            line-height: rem(25px);
        }
    }

    &__navbar-number {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: rem(20px);
        line-height: rem(24px);
        padding-right: rem(10px);

        @include media("min", "xxl") {
            padding-right: rem(30px);
        }
    }

    &__mobile-buttons {
        display: flex;
        width: rem(126px);
        justify-content: flex-end;
        gap: rem(10px);

        @include media("min", "sm") {
            gap: rem(20px);
        }

        @include media("min", "xl") {
            display: none;
        }
    }

    &__logo {
        min-width: rem(125px);
        @include color(color, black);

        & svg{
            width: 100%;
        } 
    }

    &__menu-button {
        cursor: pointer;

        @include media("min", "xl") {
            display: none;
        }
    }

    &__call-button {
        cursor: pointer;

        @include media("min", "xl") {
            display: none;
        }
    }

    & .button {
        font-size: 0.75rem;
        min-width: 5.5rem;

        @include media_query(356px) {
            font-size: 1rem;
        }
    }
}

.main {
    .main-slider {
        &__image img {
            border-radius: 20px;
            aspect-ratio: 1/1;
            object-fit: cover;
            width: 100%;
            min-height: 320px;
            @include media(min, "md") {
                aspect-ratio: auto;
            }
        }

        &__title {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 5%;
            width: 90%;
            font-size: rem(30px);
            font-weight: 700;
            line-height: 36.27px;
            @include color(color, white);

            @include media(min, "lg") {
                width: 70%;
            }

            @include media(min, "xxl") {
                width: 70%;
                font-size: rem(50px);
                font-weight: 700;
                line-height: 60.45px;
            }
        }

        &__description {
            padding: 20px 0;
            font-size: rem(15px);
            font-weight: 500;
            line-height: 17.66px;
            @include color(color, white);

            @include media(min, "lg") {
                font-size: rem(16px);
                line-height: 18.83px;
            }
        }

        margin-bottom: rem(30px);
    }

    .customers-slider {
        &__slide {
            width: auto;
        }

        &__wrapper {
            align-items: center;
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }

    .advantages-section {
        &__slider {
            padding: 10px;
        }

        &__slide {
            min-height: 176px;
            height: 100%;
            padding: rem(25px) rem(30px);
            border-radius: rem(15px);
            box-shadow: 0px 0px 10px 0px rgba($color: #000000, $alpha: .2);
        }

        &__title {
            margin-bottom: rem(11px);
            font-size: rem(18px);
            line-height: rem(21px);
            font-weight: 700;
        }

        &__description {
            font-size: rem(15px);
            line-height: rem(17px);
            font-weight: 400;
        }

        & .swiper-pagination {
            position: static;
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }

    .infographics {
        &__item {
            text-align: center;
        }

        &__item-title {
            margin-bottom: rem(11px);
            font-size: rem(80px);
            line-height: rem(93px);
            font-weight: 400;

            & sup {
                font-size: rem(60px);
                @include color(color, blue);
            }
        }

        &__item-subtitle {
            font-size: rem(16px);
            line-height: rem(19px);
            font-weight: 400;
        }

        &__item-link {
            font-size: rem(14px);
            line-height: rem(16px);
            font-weight: 400;
            text-decoration: underline;
            @include color(color, blue);
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }

    .projects-tabs {

        &--margin-bottom {
            margin-bottom: rem(50px);
        }

        &__btn-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: rem(30px);
            gap: rem(15px) rem(35px);
        }

        &__btn {
            font-size: rem(14px);
            line-height: rem(16px);
            font-weight: 600;
            text-transform: uppercase;
            border: 0;
            padding-bottom: rem(5px);
            background-color: transparent;
            
            &--active {
                border-bottom: 2px solid $blue;
            }
        }

        &__more-btn {
            margin: 0 auto;
            margin-bottom: rem(70px);
        }

        &__item {
            display: none;
            max-width: rem(480px);
            margin: 0 auto;

            &--active {
                display: flex;
                flex-direction: column;
                gap: rem(20px);
                animation: openDisplayNone 1s ease-out 0s 1 normal;
                animation-fill-mode: forwards;
              

                @keyframes openDisplayNone {
                    0% {
                      display: block;
                      opacity: 0;
                      visibility: hidden;
                    }
                    100% {
                      display: block;
                      opacity: 1;
                      visibility: visible;
                    }
                }
            }
        }

        &__item-img {
            width: 100%;
            border-radius: rem(15px);
            margin-bottom: rem(20px);
            box-shadow: 0px 4px 50px 0px #203D772B;
        }

        &__item-title {
            font-size: rem(25px);
            line-height: rem(30px);
            font-weight: 700;
            margin-bottom: rem(10px);
        }

        &__item-subtitle {
            font-size: rem(16px);
            line-height: rem(18px);
            font-weight: 500;
        }

        &__tabpanel-wrapper {
            display: grid;  
            grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
            grid-gap: 1rem;

            @include media(min, "md") {
                grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
            }
        }
    }

    .directions {
        &__wrapper {
            display: grid;  
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            grid-gap: rem(25px);
            margin-bottom: rem(70px);

            @include media(min, "md") {
                grid-template-columns: repeat(auto-fit, minmax(670px, 680px));
                justify-content: center;
            }

            @include media(min, "xl") {
                grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
            }

            @include media(min, "xxl") {
                grid-template-columns: repeat(auto-fit, minmax(600px, 620px));
            }

            @include media(min, "xxxl") {
                grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            gap: 0 rem(20px);
            border-radius: rem(20px);
            box-sizing: border-box;
            box-shadow: 0px 4px 50px 0px #203D772B;
            
        }

        &__item-text {
            max-width: 100%;
            padding: rem(40px);
            @include media(min, "md") {
                max-width: rem(320px);
            }
            @include media(min, "xl") {
                max-width: rem(500px);
            }
            @include media(min, "xxl") {
                max-width: rem(300px);
            }
            @include media(min, "xxxl") {
                max-width: rem(350px);
            }
            @include media(min, "xxxl") {
                max-width: rem(420px);
            }
        }

        &__item-title {
            font-size: rem(28px);
            line-height: rem(34px);
            font-weight: 700;
            margin-bottom: rem(16px);
        }

        &__item-description, &__remark {
            font-size: rem(16px);
            line-height: rem(19px);
            font-weight: 400;
        }

        &__img-wrapper {
            display: none;
            align-self: flex-end;

            @include media(min, "md") {
                display: block;
                max-width: rem(350px);
            }

            @include media(min, "xl") {
                display: none;
            }

            @include media(min, "xxl") {
                display: block;
            }
        }
    }

    .guarantees {
        margin-bottom: rem(100px);

        &__title {
            font-size: rem(35px);
            line-height: rem(40px);
            font-weight: 400;
            text-align: center;
            margin-bottom: rem(50px);
        }
        
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            gap: rem(20px);

            @include media(min, "lg") {
                max-width: rem(300px);
                margin: 0 auto;
            }
        }

        &__item-title {
            font-size: rem(25px);
            line-height: rem(30px);
            font-weight: 400;
        }

        &__item-subtitle {
            font-size: rem(16px);
            line-height: rem(19px);
            font-weight: 400;
        }

        &__item-img {
            width: 65px;
        }


    }

    .page-description {
        @include color(background-color, footer-silver);
        margin-bottom: rem(60px);

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: rem(40px) 0;
        }

        &__logo {
            display: none;
            width: max-content;
            margin-bottom: rem(40px);

            @include media(min, "xxl") {
                display: block;
            }
        }

        &__title {
            font-size: rem(24px);
            line-height: rem(28px);
            font-weight: 400;
            margin-bottom: rem(15px);
        }

        &__text {
            font-size: rem(18px);
            line-height: rem(28px);
            font-weight: 400;
            @include color(color, dark-silver);
        }

        &__row {
            justify-content: space-between;
        }
    }

    .form-feedback {
        @include color(background-color, blue);
        padding: rem(40px) rem(20px);
        border-radius: 20px;
        box-shadow: 0px 10px 25px 0px #206FE666;

        
        @include media(min, "sm") {
            padding: rem(40px) rem(100px);
        }

        @include media(min, "lg") {
            padding: rem(40px) rem(150px);
        }

        &--index {
            display: none;
            margin: -35px 0 -35px 0;

            @include media(min, "xxl") {
                display: block;
                padding: rem(40px) rem(80px);
            }
            @include media(min, "xxxl") {
                padding: rem(40px) rem(120px);
            }
        }

        &__title {
            font-size: rem(35px);
            line-height: rem(42px);
            font-weight: 700;
            @include color(color, white);
            text-align: center;
        }

        &__subtitle {
            font-size: rem(17px);
            line-height: rem(20px);
            font-weight: 400;
            @include color(color, white);
            text-align: center;
            margin-bottom: rem(40px);
        }
    }

    .block-banner {
        margin-bottom: rem(20px);

        &__description {
            font-size: rem(13px);
            font-weight: 400;
            line-height: rem(15px);
            @include color(color, silver);
            padding-top: rem(15px);

            @include media(min, "md") {
                font-size: rem(16px);
                line-height: rem(19px);
                padding-top: rem(25px);
            }
        }

        &__wrapper {
            height: 375px;
            width: 100%;
            position: relative;

            @include media(min, "xl") {
                height: 536px;
            }
        }

        &__image {
            height: 100%;
            width: 100%;
            border-radius: rem(20px);
            object-fit: cover;
        }
    }

    .cases-slider {
        margin-bottom: rem(30px);

        @include media(min, "sm") {
            margin-bottom: rem(100px);
        }


        &__slide {
            padding-bottom: rem(20px);
            position: relative;
        }

        &__description {
            position: relative;
            font-size: rem(13px);
            font-weight: 400;
            line-height: rem(15px);
            @include color(color, silver);
            margin: 0;
            top: 10px;
            visibility: hidden;
            opacity: 0;
            transition: 1s all;

            @include media(min, "lg") {
                font-size: rem(15px);
                line-height: rem(17px);
            }
        }

        &__image img{
            width: 100%;
        }

        &__prev, &__next {
            width: rem(74px);
            height: rem(15px);
            top: 100%;
            bottom: 0;
            @include color(color, black);
            display: none;

            @include media(min, "md") {
                display: flex;
            }

        }

        &__prev {
            justify-content: flex-end;
            right: 150px;
            left: auto;

            &::after {
                content: '';
            }

            &:hover {
                @include color(color, blue);
            }
        }

        &__next {

            &::after {
                content: '';
            }

            &:hover {
                @include color(color, blue);
            }
        }
    }

    .swiper-slide-active .cases-slider__description {
        visibility: visible;
        opacity: 1;
    }

    .about-slider {
        margin-bottom: rem(30px);

        @include media(min, "sm") {
            margin-bottom: rem(100px);
        }


        &__slide {
            padding-bottom: rem(20px);
            position: relative;
        }

        &__description {
            position: relative;
            font-size: rem(13px);
            font-weight: 400;
            line-height: rem(15px);
            @include color(color, silver);
            margin: 0;
            top: 10px;
            visibility: hidden;
            opacity: 0;
            transition: 1s all;

            @include media(min, "lg") {
                font-size: rem(15px);
                line-height: rem(17px);
            }
        }

        &__image img{
            width: 100%;
        }

        &__name {
            position: absolute;
            bottom: rem(70px);
            left: rem(30px);
            @include color(color, white);

            font-size: rem(25px);
            font-weight: 700;
            line-height: rem(25px);

            @include media(min, "lg") {
                font-size: rem(40px);
                font-weight: 700;
                line-height: rem(40px);
            }
        }

        &__specialization {
            position: absolute;
            bottom: rem(30px);
            left: rem(30px);
            @include color(color, white);

            font-size: rem(15px);
            font-weight: 400;
            line-height: rem(25px);

            @include media(min, "lg") {
                font-size: rem(18px);
                font-weight: 400;
                line-height: rem(30px);
            }
        }

        &__prev, &__next {
            width: rem(74px);
            height: rem(15px);
            top: 101%;
            bottom: 0;
            @include color(color, black);
            display: none;

            @include media(min, "md") {
                display: flex;
            }

        }

        &__prev {
            justify-content: flex-end;
            right: 150px;
            left: auto;

            &::after {
                content: '';
            }

            &:hover {
                @include color(color, blue);
            }
        }

        &__next {

            &::after {
                content: '';
            }

            &:hover {
                @include color(color, blue);
            }
        }
    }

    .case-info {
        border-bottom: 2px solid #f2f3f5;
        margin-bottom: rem(50px);

        &__subtitle {
            margin-bottom: rem(25px);
        }

        &__description {
            font-size: rem(18px);
            font-weight: 500;
            line-height: rem(21px);
            margin-bottom: 0;
        }

        &__link {
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(18px);
            @include color(color, blue);
            text-decoration: underline;
        }

        &__little-title {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(20px);
            @include color(color, silver);
        }

        &__little-text {
            font-size: rem(14px);
            font-weight: 500;
            line-height: rem(20px);
            max-width: rem(260px);
            margin-bottom: rem(20px);
        }

    }

    .case-detail {
        margin-bottom: rem(40px);
    }

    .image-site {
        margin-bottom: rem(40px);

        &__image-wrapper {
            width: 100%;
        }

        &__image {
            width: 100%;
            border-radius: rem(20px);
        }
    }

    .another-pages {

        &__title {
            font-size: rem(30px);
            font-weight: 400;
            line-height: rem(35px);
            margin-bottom: rem(35px);

            @include media(min, "sm") {
                font-size: rem(35px);
                line-height: rem(40px);
            }
        }

        &__item-title {
            font-size: rem(25px);
            font-weight: 700;
            line-height: rem(30px);
        }

        &__item-subtitle {
            font-size: rem(16px);
            font-weight: 500;
            line-height: rem(18px);
        }
    }

    .another-pages {
        &__slide {
            min-height: 176px;
            height: 100%;
            padding: rem(25px) rem(30px);
            border-radius: rem(15px);
        }

        &__item .projects-tabs__item-img{
            box-shadow: none;
        }

        & .swiper-pagination {
            position: static;
        }

        margin-bottom: rem(50px);

        @include media(min, "lg") {
            margin-bottom: rem(100px);
        }
    }

    .accordion {
        margin-bottom: rem(50px);

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__item {
            box-shadow: 0px 4px 14px 0px #203D772B;
            border-radius: rem(20px);
            padding: rem(15px);

            @include media(min, "md") {
                padding: rem(40px);
            }
        }

        &__item--active > .accordion__body {
            max-height: none;
            overflow: visible;
            transition: 1s all;
            opacity: 1;
        }

        &__table {
            width: 100%;
        }

        &__item--active .accordion__header-title::after {
            transform: rotate(45deg);
        }

        &__header {
            display: flex;
            align-items: center;
            gap: rem(20px);
        }

        &__header-title {
            display: flex;
            flex: 1;
            justify-content: space-between;
            margin: 0;
            font-size: rem(20px);
            font-weight: 400;
            line-height: rem(23px);
            
            @include media(min, "lg") {
                font-size: rem(23px);
                line-height: rem(25px);
            }

            &::after {
                display: block;
                cursor: pointer;
                height: rem(21px);
                content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.374 1.62436L10.374 19.1244' stroke='%23206FE6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M1.62402 10.3748L19.124 10.3748' stroke='%23206FE6' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");               
                transition: 0.5s all;
            }
        }

        &__header-number {
            font-size: rem(16px);
            font-weight: 500;
            line-height: rem(21px);
            @include color(color, blue);
            margin: 0;

            @include media(min, "lg") {
                font-size: rem(18px);
                line-height: rem(25px);
            }
        }

        &__body {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: 0.5s all;
        }

        &__body-wrapper {
            padding-top: rem(20px);
        }

        &__body-title {
            font-size: rem(12px);
            font-weight: 400;
            line-height: rem(14px);
            @include color(color, blue);

            @include media(min, "lg") {
                font-size: rem(14px);
                line-height: rem(15px);
            }
        }

        &__table thead {
            display: block;
            background-color: #F2F3F5;
            margin: rem(15px) rem(-15px);
            padding: rem(15px) rem(15px);
        }

        &__table thead th{
            font-size: rem(10px);
            font-weight: 700;
            line-height: rem(14px);

            @include media(min, "md") {
                font-size: rem(13px);
            }

            @include media(min, "xl") {
                font-size: rem(18px);
                line-height: rem(21px);
            }
        }

        &__table tbody td{
            font-size: rem(10px);
            font-weight: 700;
            line-height: rem(15px);
            margin-bottom: rem(15px);
            
            @include media(min, "md") {
                font-size: rem(13px);
            }

            @include media(min, "xl") {
                font-size: rem(18px);
                line-height: rem(21px);
            }
        }
    }

    .blog-news {
        margin-bottom: rem(70px);

        &--detail {
            margin-bottom: rem(30px);

            & .blog-news__accessory {
                margin-bottom: rem(15px);
            }
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
            grid-gap: 3rem 1rem;

            @include media(min, "lg") {
                grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem(20px);
        }

        &__item-img {
            width: 100%;
        }

        &__accessory {
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(25px);
            margin: 0;
            @include color(color, silver);
        }

        &__item-title {
            font-size: rem(20px);
            font-weight: 700;
            line-height: rem(25px);
            margin: 0;
            @include color(color, black);
        }

        &__filter-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: rem(10px) rem(40px);
            margin-bottom: rem(45px);

            @include media(min, "md") {
                gap: rem(10px) rem(80px);
            }
        }

        &__filter-item {
            font-size: rem(18px);
            font-weight: 400;
            line-height: rem(21px);
            text-decoration: underline;

            &--active {
                @include color(color, blue);
                text-decoration: none;
            }
        }

        &__poster {
            display: flex;
            align-items: center;
            gap: rem(15px);
        }

        &__poster-img {
            max-width: rem(62px);
            max-height: rem(62px);
            border-radius: 50%;
        }

        &__poster-name {
            font-size: rem(16px);
            font-weight: 600;
            line-height: rem(19px);
            margin: 0;
        }

        &__poster-date {
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(16px);
            margin: 0;
        }

        &__poster-info {
            display: flex;
            flex-direction: column;
            gap: rem(10px);
        }

        &__poster-like {
            flex: 1;
            margin: 0;
            text-align: end;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;

            &--active svg {
                fill: blue;
            }
        }
    }

    .about-directions {
        margin-bottom: rem(100px);

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 3rem 2rem;
        }

        &__item {
            border: 3px solid $blue;
            border-radius: rem(20px);
            padding: rem(35px);
        }

        &__item-title {
            display: flex;
            align-items: center;
            gap: rem(20px);
            font-size: rem(25px);
            font-weight: 700;
            line-height: rem(25px);
            margin: 0;
            @include color(color, blue);
        }

        &__item-text {
            display: flex;
            align-items: center;
            gap: rem(20px);
            font-size: rem(18px);
            font-weight: 400;
            line-height: rem(21px);
            margin: 0;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20px);
    margin: rem(30px);

    &::after {
        content: url('data:image/svg+xml,<svg width="39" height="12" viewBox="0 0 39 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.5303 6.53033C38.8232 6.23744 38.8232 5.76256 38.5303 5.46967L33.7574 0.696699C33.4645 0.403806 32.9896 0.403806 32.6967 0.696699C32.4038 0.989593 32.4038 1.46447 32.6967 1.75736L36.9393 6L32.6967 10.2426C32.4038 10.5355 32.4038 11.0104 32.6967 11.3033C32.9896 11.5962 33.4645 11.5962 33.7574 11.3033L38.5303 6.53033ZM0 6.75H38V5.25H0V6.75Z" fill="%23152647"/></svg>');
    }

    &::before {
        content: url('data:image/svg+xml,<svg width="39" height="12" viewBox="0 0 39 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.469669 6.53033C0.176777 6.23744 0.176777 5.76256 0.469669 5.46967L5.24264 0.696699C5.53553 0.403806 6.01041 0.403806 6.3033 0.696699C6.5962 0.989593 6.5962 1.46447 6.3033 1.75736L2.06066 6L6.3033 10.2426C6.5962 10.5355 6.5962 11.0104 6.3033 11.3033C6.01041 11.5962 5.53553 11.5962 5.24264 11.3033L0.469669 6.53033ZM39 6.75H1V5.25H39V6.75Z" fill="%23152647"/></svg>');
    }

    &__page-number {
        font-size: rem(20px);
        font-weight: 400;
        line-height: rem(23px);
        border-radius: rem(10px);
        padding: rem(8px) rem(14px);
        @include color(background-color, footer-silver);
        @include color(color, black);
    }

    &__page-number--active {
        @include color(background-color, blue);
        @include color(color, white);
    }
}

.form {
    max-width: rem(940px);
    margin: 0 auto;

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        gap: rem(35px);
    }

    &__text-field {
        font-size: rem(18px);
        line-height: rem(20px);
        padding: rem(15px);
        border-radius: rem(10px);
        border: 1px solid $white;
    }

    &__field-label {
        font-size: rem(16px);
        line-height: rem(19px);
        margin-bottom: rem(5px);
    }
    
    &__input {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;

        &--checkbox {
            flex-direction: row;
            width: 100%;
            flex: 1;
            
        }

        &--textarea {
            width: 100%;
            flex: auto;
        }

        &--email {
            flex: 2;
        }
    }

    &__field-label {
        @include color(color, white);
    }

    &__input input:focus, &__input textarea:focus {
        @include color(color, black);
        @include color(background-color, white);
    }

    &__input input::placeholder {
        @include color(color, white);
    }

    &__input input, &__input textarea {
        @include color(color, white);
        @include color(background-color, blue);
    }

    &__input input[type="checkbox"] {
        display: none;
    }

    &__input input[type="checkbox"] + label {
        font-size: rem(11px);
        font-weight: 400;
        line-height: rem(13px);
        position: relative;
        padding-left: 30px; 
        cursor: pointer;
        display: inline-block; 
    }

    &__input input[type="checkbox"] + label:before {
        content: ""; 
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7108 0.21967C15.0617 0.512563 15.0617 0.987437 14.7108 1.28033L6.3254 8.28033C5.97453 8.57322 5.40567 8.57322 5.05481 8.28033L0.263146 4.28033C-0.0877154 3.98744 -0.0877154 3.51256 0.263146 3.21967C0.614008 2.92678 1.18287 2.92678 1.53373 3.21967L5.6901 6.68934L13.4402 0.21967C13.7911 -0.0732233 14.36 -0.0732233 14.7108 0.21967Z' fill='white'/%3E%3C/svg%3E%0A");
        width: 13px;
        height: 13px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        visibility: hidden;
        position: absolute;
        top: 8px;
        left: 7px;
    }

    &__input input[type="checkbox"] + label:after {
        content: '';
        width: 26px; 
        height: 26px; 
        border: 1px solid white; 
        border-radius: rem(3px);
        position: absolute;
        top: 1px;
        left: 0;
        box-sizing: border-box;
    }

    &__input input[type="checkbox"]:checked + label:before {
        visibility: visible;
    }

    &__input input[type="checkbox"]:checked + label:after {
        border-color: white; 
    }
}


.footer {
    //mobile

    &__wrapper { 
        display: flex;
        flex-direction: column;

        @include media(min, "md") {
            border-top: 2px solid $footer-silver;
            padding-top: rem(30px);
        }

        @include media(min, "xl") {
            padding-top: rem(50px);
        }
    }

    &__menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20px);

        @include media(min, "md") {
            &:nth-child(4) {
                width: 100%;
    
                & ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
    
            &:last-child {
                margin: 0 auto;
            }
        }

        @include media(min, "xl") {

            &:nth-child(4) {
                width: auto;
                & ul {
                    display: flex;
                    flex-direction: column;
                }
            }
    
            &:last-child {
                margin: 0;
            }
            
        }
    }

    &__menu-item--visibility {
        display: none;

        @include media(min, "md") {
            display: block;   
        }
    }
    
    &__menu-navbar {
        display: flex;
        justify-content: center;
        margin-bottom: rem(44px);

        @include media(min, "md") {
            justify-content: space-between;
            flex-wrap: wrap;
            gap: rem(35px);
        }

        @include media(min, "xl") {
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
    }

    &__list-item {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(21px);

        &:hover {
            @include color(color, blue);
        }

        &--bold {
            font-weight: 700;
            font-size: rem(22px);
            line-height: rem(27px);
        }


    }

    &__social-bar {
        display: flex;
        gap: rem(13px);
    }

    &__social-item {
        &:hover {
            opacity: 0.8;
        }
    }

    &__howgetto {
        display: flex;
        align-items: center;
        gap: rem(12px);
        font-weight: 700;
        font-size: rem(22px);

        svg{
            @include color(color, blue);
        }

        &:hover svg{
            transform: translate(2px, -2px);
            transition: all 0.1s ease-in-out;
        }
        &:hover{
            @include color(color, blue);
            opacity: .9;
        }
    }

    &__button {
        min-width: rem(200px);
    }

    &__contacts {
        @include font-size-get(footerContactTitle);
        @include color(background-color, footer-silver);
    }

    &__contacts-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(25px) 0;
        gap: rem(25px);

        @include media(min, "md") {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }

        @include media(min, "xl") {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__contact-title {
        @include font-size-get(footerContactTitle);
        text-align: center;
        @include color(color, silver);

        @include media(min, "md") {
            text-align: left;
        }

        @include media(min, "xl") {
            text-align: left;
        }
    }

    &__contact-item {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
    }

    &__contact-content {
        font-size: rem(16px);
        text-align: center;
        @include color(color, black);

        @include media(min, "md") {
            text-align: left;
        }

        @include media(min, "xl") {
            text-align: left;
        }
    }

    &__copyright-inner {
        display: flex;
        padding: rem(20px) 0;
        flex-direction: column;
        gap: rem(12px);
        align-items: center;

        @include media(min, "md") {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    &__copyright-item {
        display: block;
        text-align: center;
        @include color(color, silver);
        @include font-size-get(copiright);
    }
}


//----------BLOCKS-------------

.breadcrumbs {
    margin: rem(25px) 0 rem(25px) 0;

    @include media("min", "md") {
        margin: rem(25px) 0 rem(45px) 0;
    }

    &__items {
        display: flex;
        font-size: rem(11px);
        line-height: rem(14px);
        font-weight: 600;
        color: #9099AB;

        @include media("min", "md") {
            font-size: rem(12px);
        }
    }

    &__item {
        margin-right: rem(5px);

        &--active {
            @include color(color, black);
        }
    }

    

    &__link::after {
        content: '—';
        margin-left: rem(5px);
    }
}

 .page-title {
    font-size: rem(23px);
    line-height: rem(27px);
    font-weight: 700;
    margin-bottom: rem(35px);

    @include media("min", "md") {
        font-size: rem(40px);
        line-height: rem(48px);
    }
 }

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;

    &__title {
        font-size: rem(35px);
        line-height: rem(42px);
        font-weight: 700;
        @include color(color, white);
        text-align: center;
    }

    &__subtitle {
        font-size: rem(17px);
        line-height: rem(20px);
        font-weight: 400;
        @include color(color, white);
        text-align: center;
        margin-bottom: rem(40px);
    }

    &__close {
        cursor: pointer;
    }

    &__content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include color(background-color, blue);
        padding: rem(30px) rem(30px);
        border-radius: rem(30px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        @include media("min", "md") {
            padding: rem(45px) rem(120px);
            max-width: rem(812px);
        }

        @media only screen and (max-height: 670px) {
            overflow-y: scroll;
            height: 100%;
        }
    }

    & .popup__close {
        z-index: 2;
        font-size: 22px;
        font-weight: 500;
        color: #000;
        position: absolute;
        display: block;
        right: 20px;
        top: 15px;
        left: auto;

        @include media("min", "sm") {
            right: 25px;
            top: 20px;
        }
    }

    & .popup__close:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.999902 30.9991L30.999 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/><path d="M0.999904 1.00094L30.999 31" stroke="white" stroke-width="1.5" stroke-linecap="round"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include media("min", "sm") {
            width: 30px;
            height: 30px;
        }
    }

}

.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.article-text, .article-list {
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(25px);
    margin-bottom: rem(25px);

    @include media("min", "sm") {
        font-size: rem(18px);
    }
    
}

.customers-grid {
    margin-bottom: rem(60px);

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 0;
    }

    &__logo {
        padding: rem(75px) rem(45px);
        text-align: center;
    }
}

.about-excellence {
    margin-bottom: rem(80px);

    &__title {
        font-size: rem(30px);
        font-weight: 700;
        line-height: rem(30px);
        @include color(color, blue);
    }

    &__text {
        font-size: rem(16px);
        font-weight: 500;
        line-height: rem(30px);
    }
}

.article-text {
    &--bg-section {
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(25px);
    }

    &--about {
        font-size: rem(20px);
        font-weight: 500;
        line-height: rem(25px);

        @include media("min", "sm") {
            font-size: rem(25px);
            font-weight: 500;
            line-height: rem(25px);
        }

        @include media("min", "lg") {
            font-size: rem(40px);
            font-weight: 500;
            line-height: rem(47px);
        }
    }
}

.article-title {
    font-size: rem(25px);
    font-weight: 700;
    line-height: rem(30px);
    margin-bottom: rem(20px);

    &--bg-section {
        font-size: rem(24px);
        font-weight: 400;
        line-height: rem(28px);
    }

    @include media("min", "sm") {
        font-size: rem(30px);
    }
}

.article-list {
    
    &__title h6 {
        font-size: rem(16px);
        font-weight: 500;
        line-height: rem(25px);

        @include media("min", "sm") {
            font-size: rem(18px);
        }
    }

    & li::before {
        content:  "—";
        position: relative;
        margin-right: rem(5px);
    }

    ul &__title::before {
        content:  "";
        margin-right: 0;
    }

    &--type-2 {
        &>li {
            list-style: inside;
        }

        &>li:first-child{
            list-style: none;
        }

        & li::before {
            display: none;
        }
    }
}

.article-link {
    display: block;
    font-size: rem(18px);
    font-weight: 500;
    line-height: rem(30px);
    text-decoration: underline;
    @include color(color, blue);
    margin-bottom: rem(25px);

}

.bg-section {
    border-radius: rem(20px);
    padding: rem(45px);
    @include color(background-color, footer-silver);
    margin-bottom: rem(40px);
}

.download-link {
    @include color(color, blue);
    text-decoration: underline;
    display: flex;
    gap: rem(15px);
    align-items: center;
    margin-bottom: rem(70px);

    &::before {
        content: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.0857 17.2521C20.8899 16.3111 19.7534 15.3437 18.9966 14.5868C18.0127 13.6029 17.136 12.6493 16.3742 11.7411C17.5625 8.0692 18.0834 6.1759 18.0834 5.16671C18.0834 0.879261 16.5344 0 14.2084 0C12.4412 0 10.3334 0.918254 10.3334 5.29034C10.3334 7.21779 11.3892 9.55769 13.4819 12.2772C12.9697 13.84 12.368 15.6426 11.692 17.6747C11.3665 18.6498 11.0134 19.5529 10.6399 20.388C10.336 20.523 10.0407 20.6604 9.75568 20.8029C8.72892 21.3164 7.75388 21.778 6.84943 22.2069C2.72461 24.1595 0 25.4512 0 28.0017C0 29.8535 2.01197 31 3.875 31C6.27665 31 9.90317 27.7922 12.5521 22.3884C15.3019 21.3037 18.7204 20.5001 21.4185 19.9968C23.5805 21.6593 25.9683 23.25 27.125 23.25C30.3277 23.25 31 21.3982 31 19.8454C31 16.7916 27.5109 16.7916 25.8333 16.7916C25.3123 16.7917 23.9148 16.9456 22.0857 17.2521ZM3.875 28.4167C3.13705 28.4167 2.63754 28.0686 2.58329 28.0017C2.58329 27.0859 5.3142 25.7918 7.95562 24.5405C8.12333 24.4611 8.29371 24.3815 8.46651 24.2995C6.52647 27.1125 4.60786 28.4167 3.875 28.4167ZM12.9167 5.29034C12.9167 2.58341 13.7569 2.58341 14.2084 2.58341C15.1217 2.58341 15.5001 2.58341 15.5001 5.16671C15.5001 5.71163 15.1368 7.07393 14.472 9.2007C13.4578 7.63908 12.9167 6.30075 12.9167 5.29034ZM13.9069 19.1733C13.9877 18.9488 14.0659 18.7217 14.1416 18.4921C14.6209 17.0541 15.0523 15.7624 15.437 14.5994C15.9731 15.1898 16.5509 15.794 17.1702 16.4133C17.4124 16.6555 18.0128 17.2004 18.8126 17.8828C17.2205 18.2297 15.5265 18.6598 13.9069 19.1733ZM28.4167 19.8456C28.4167 20.4259 28.4167 20.6667 27.2184 20.6743C26.8665 20.5987 26.0528 20.1194 25.0487 19.4357C25.4132 19.3953 25.6819 19.3751 25.8333 19.3751C27.7419 19.3751 28.283 19.5617 28.4167 19.8456Z" fill="white"/></svg>');
        display: block;
        padding: rem(10px);
        @include color(background-color, blue);
        border-radius: rem(15px);
    }
}

.phone-link {
    font-weight: 600;
    font-size: rem(20px);
    line-height: rem(24px);
    @include color(color, black);

    &:hover {
        @include color(color, blue)
    }
}

.mail-link {
    font-weight: 300;
    font-size: rem(16px);
    line-height: rem(18px);
    @include color(color, black);

    &:hover {
        @include color(color, blue)
    }
}

.selected {

    &--dropdown {
        background-color: #D9D9D9;
    }
}

//button blocks
.button {
    display: block;
    @include color(background-color, blue);
    @include color(color, white);
    position: relative;
    border-radius: rem(30px);
    // width: rem(200px);
    // min-width: rem(100px);
    border: 0;
    padding: rem(10px) rem(25px);
    min-height: rem(47px);
    font-weight: 600;
    font-size: rem(16px);

    &:hover {
        opacity: .8;
    }

    &:disabled {
        opacity: 1;
    }

    &--submit {
        @include color(color, black);
        @include color(background-color, white);
        width: rem(180px);
        height: rem(52px);

        &:hover {
            opacity: 1;
            @include color(color, blue);
        }
    }

    &--sm {
        padding: rem(10px) rem(10px);
        @include media("min", "sm") {
            padding: rem(10px) rem(25px);
        }
    }
}

.loading {
    @include color(color, blue);
    @include color(background-color, blue);
    &::after {
        content: "";
        position: absolute;
        width: rem(26px);
        height: rem(26px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 4px solid white;
        border-top-color: transparent;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
        from {
            transform: rotate(0turn);
        }
    
        to {
            transform: rotate(1turn);
        }
    }
}

//swiper bullets
.swiper-pagination--custom > .swiper-pagination-bullet {
    width: rem(40px);
    height: rem(5px);
    border-radius: rem(5px);
    opacity: 1;
    background-color: #E7EBF3;
}

.swiper-pagination--custom > .swiper-pagination-bullet-active {
    width: rem(40px);
    height: rem(5px);
    border-radius: rem(5px);
    opacity: 1;
    @include color(background-color, blue)
}

.telegram {
    @include color(background-color, blue);
    @include color(color, white);
    border-radius: rem(10px);
}

.whatsapp {
    background-color: #00BD1E;
    @include color(color, white);
    border-radius: rem(10px);
}

.vk {
    @include color(background-color, blue);
    @include color(color, white);
    border-radius: rem(10px);
}

//button blocks end


